.itemsDisplay{
    margin-top: 30px;
    width: 80vw;

}

.itemsDisplay h2{
    font-size: max(2cw,24px);
    font-weight: 600;
}

.itemsDisplayList{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
