.SearchBox{
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 10px;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	gap: 20px;
	background: var(--goldMiddle);
	max-width: 400px;
}

.search,
.SearchBox button{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-right: 0.75rem;
	padding-left: 2.5rem;
	border-radius: 0.5rem;
	border-width: 5px;
	border-color: var(--goldLight);
	color: var(--white);
	background-color: var(--grayDark);
	--bg-opacity: 0.5;
	transition-property: background-color, border-color, color, fill, stroke,
		opacity, box-shadow, transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
	transition-duration: 200ms;
	max-width: 400px;
}

.rabatCode{
	text-align: center;
	letter-spacing: 5px;
	padding-left: 0.75rem;
}

.SearchBox button{
	padding-left: 0.75rem;
	align-self: start;
	border-color: var(--grayDark);
	color: var(--grayDark);
	background-color: var(--goldLight);
	cursor: pointer;
	transition: 1s ease;
}
.SearchBox button:hover{
	border-color: var(--goldLight);
	color: var(--white);
	background-color: var(--grayDark);
}

.buttonBox{
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* width: 90vw; */
	gap: 20px;
}

.buttonBox .search,
.SearchBox button{
	width: 100%;
}

.iconBox{
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	padding-left: 0.75rem;
	align-items: center;
	pointer-events: none;
}

.icon img{
	width: 30px;
	margin-right: 15px;
	cursor: pointer;
	transition: 0.5s;
}

.icon{
	filter: invert(70%) sepia(55%) saturate(697%) hue-rotate(334deg)
		brightness(109%) contrast(92%);
	transition: filter 0.5s;
	width: 25px;
}
.icon img:hover{
	filter: invert(70%) sepia(55%) saturate(697%) hue-rotate(334deg)
		brightness(109%) contrast(92%) hue-rotate(30deg);
}

.inputBox{
	position: relative;
	 max-width: 400px; 
}


.list{
	list-style: none;
	text-align: center;
	display: grid;
    justify-items: start;
	grid-template-columns: 1fr;
	background: var(--gold);
    overflow-y: scroll;
	padding: 10px;
	border: 3px solid var(--grayDark);
	border-radius: 4px;
	max-height: 290px;
	width: 400px;
}

.list::-webkit-scrollbar{
    display: none;
}


.listItem:not(:first-child){
	margin: 10px 0;
	font-size: 12px;
	color: var(--grayDark);
	font-weight: 300;
	display: flex;
	word-break: break-all;
}


.listItem p{
	align-self: center;
	margin-left: 10px;
}

.listItem input[type='checkbox']{
	margin: 10px;
}

@media (min-width: 1000px){
	/*     .list{
      grid-template-columns: 1fr 1fr;
    } */
	.listItem{
		font-size: 14px;
	}

	.search,
	.buttonBox{
		max-width: 400px;
	}
}

.checkbox-wrapper *{
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.checkbox-wrapper input[type='checkbox']{
	display: none;
}

.checkbox-wrapper label{
	--size: 30px;
	--shadow: calc(var(--size) * 0.07) calc(var(--size) * 0.1);

	position: relative;
	display: block;
	width: var(--size);
	height: var(--size);
	margin: 0 auto;
	background-color: var(--red);
	border-radius: 50%;
	box-shadow: 0 var(--shadow) var(--pink);
	cursor: pointer;
	transition: 0.2s ease transform, 0.2s ease background-color,
		0.2s ease box-shadow;
	overflow: hidden;
	z-index: 1;
}

.checkbox-wrapper label:before{
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	width: calc(var(--size) * 0.7);
	height: calc(var(--size) * 0.7);
	margin: 0 auto;
	background-color: var(--white);
	transform: translateY(-50%);
	border-radius: 50%;
	box-shadow: inset 0 var(--shadow)  var(--pink);
	transition: 0.2s ease width, 0.2s ease height;
}

.checkbox-wrapper label:hover:before{
	width: calc(var(--size) * 0.55);
	height: calc(var(--size) * 0.55);
	box-shadow: inset 0 var(--shadow)  var(--pink);
}

.checkbox-wrapper label:active{
	transform: scale(0.9);
}

.checkbox-wrapper .tick_mark{
	position: absolute;
	top: -1px;
	right: 0;
	left: calc(var(--size) * -0.05);
	width: calc(var(--size) * 0.6);
	height: calc(var(--size) * 0.6);
	margin: 0 auto;
	margin-left: calc(var(--size) * 0.14);
	transform: rotateZ(-40deg);
}

.checkbox-wrapper .tick_mark:before,
.checkbox-wrapper .tick_mark:after{
	content: '';
	position: absolute;
	background-color:  var(--white);
	border-radius: 2px;
	opacity: 0;
	transition: 0.2s ease transform, 0.2s ease opacity;
}

.checkbox-wrapper .tick_mark:before{
	left: 0;
	bottom: 0;
	width: calc(var(--size) * 0.1);
	height: calc(var(--size) * 0.3);
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
	transform: translateY(calc(var(--size) * -0.68));
}

.checkbox-wrapper .tick_mark:after{
	left: 0;
	bottom: 0;
	width: 100%;
	height: calc(var(--size) * 0.1);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
	transform: translateX(calc(var(--size) * 0.78));
}

.checkbox-wrapper input[type='checkbox']:checked + label{
	background-color:  var(--green);
	box-shadow: 0 var(--shadow)  var(--greenLight);
}

.checkbox-wrapper input[type='checkbox']:checked + label:before{
	width: 0;
	height: 0;
}

.checkbox-wrapper input[type='checkbox']:checked + label .tick_mark:before,
.checkbox-wrapper input[type='checkbox']:checked + label .tick_mark:after{
	transform: translate(0);
	opacity: 1;
}
