.popupPage{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
    top: 30px;
    z-index: 2;
}

.popupPageContainer{
    place-self: center;
    width: 80vw;
    height: 80vh;
    position: fixed;
    overflow: scroll;
    color: var(--white);
    background-color: var(--blackLight);
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    animation: fadeIn .5s;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    line-height: 2;
}

.popupPageContainer::-webkit-scrollbar {
    display: none;
}
  

.popupPageTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--second-color);
    margin: 40px;
}

.popupPageTitle h2{
    font-size: 38px;
}

.popupPageTitle img{
    width: 16px;
    cursor: pointer;
}

.popupPageImg{
    position: absolute;
    z-index: -1;
    opacity: .3;
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

.popupPageContent{
    margin: 50px 100px;
    overflow: scroll;
    font-size: min(18px);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.popupPageContent::-webkit-scrollbar {
    display: none;
}

.popupPageContent h3{
    color: var(--goldLight);
}

.popupPageContent h4{
    color: var(--redLight);
}



.popupPageContent h2{
    color: var(--goldLight);
    background: var(--black);
    padding: 20px;
}

@media (max-width:1050px) {
    .popupPageContent {
        margin: 30px 30px;
        font-size: max(14px);
    }
    
}

@media (max-width:750px) {
    .popupPageContainer {
        margin-top: 40px;
        width: 100vw;
    }
    .popupPageContent{
        margin: 30px;
    }

    .popupPageTitle{
        margin-bottom: 10px;
    }

    .popupPageTitle h2{
        font-size: 24px;
    }

    .popupPageTitle img{
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-30px, -30px);
    }
    
}

