.input{
    padding-top: 0.5rem;
padding-bottom: 0.5rem; 
padding-right: 0.75rem; 
padding-left: 2.5rem; 
border-radius: 0.5rem; 
border-width: 5px; 
border-color: var(--gold);
width: 100%; 
color: var(--white); 
background-color: var(--appContentSecondaryColor);
transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms; 
transition-duration: 200ms; 
}

.iconBox{
display: flex; 
position: absolute; 
top: 0;
bottom: 0; 
left: 0; 
padding-left: 0.75rem; 
align-items: center; 
pointer-events: none; 
max-width: 35px;
}

.inputBox{
    position: relative;
    width: 100%; 
 margin: .4rem 0; 
}

.inputErrorsBox{
    display: flex;
    flex-direction: column;
    position: relative;
}

.textError{
    font-size: .7rem;
    color: var(--red);
}

.textAccept{
	margin-bottom: 0.5rem;
	font-weight: 600;
	color: var(--greenLight);
}