.networkError{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
    line-height: 2;
}

.networkError h2{
    color: rgb(175, 36, 36);
    font-size: 14px;
}

.networkError img{
    width: 50px;
}

.networkError span{
    color: rgb(30, 177, 30);
    font-size: 12px;
}

@media (min-width:750px) {
    .networkError h2{
        font-size: 24px;
    }
    .networkError span{
        font-size: 14px;
    }
    
}