.cardContent {
	padding: 2rem;
	margin-top: 2.5rem;
	border-radius: 0.75rem;
	border-width: 2px;
	border-color: var(--actionColorHover);
	width: 100%;
	max-width: 60rem;
	background-color: var(--actionColor);
    color: var(--mainFC);
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	transition: 0.3s;
	animation: fadeIn;
	margin: auto;
	.formBox{
		margin: auto;
	}
}