.addForm{
    z-index: 0;
    -webkit-box-shadow: -9px 9px 24px 0px rgb(0, 0, 0);
    -moz-box-shadow: -9px 9px 24px 0px rgb(0, 0, 0);
    box-shadow: -9px 9px 24px 0px rgb(0, 0, 0);
    position: relative;
    transition: 2s ease;
            justify-self: center;
        align-self: center;
        width: 250px;
   /*      margin-bottom: 2rem auto; */

}

.itemDelete{
    position: absolute;
    color: var(--red);
    font-size: 50px;
    top: 0;
    margin: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
    transform: translate(50%, -15%);
}

.addData{
    background: var(--goldMiddle);
}

.addDataBox{
    border: solid 3px var(--goldDarkTransparent);
}


.addImgUpload{
    background: var(--goldDarkTransparent);
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    min-height: 150px;
    min-width: 150px;
    position: relative;
    cursor: pointer;
}

.addImgUpload img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 95%;
    max-width: 95%;
    cursor: pointer;
}

.addImgUpload p{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 3vw;
    z-index: 1;
    opacity: .8;
    color: var(--white);
}


.addItemName{ 
   padding: 10px;
} 


.addItemDesc textarea {
    height: 10px;
}

.addItemName input, .addItemDesc textarea {
    padding: 10px;
}

.addCatPrice {
    display: grid;
 /*    display: grid;
    grid-template-columns: .5fr .5fr;
    gap: 10px; */
}

.addCat{
    padding-left: 10px;
}

.addPrice{
    padding-right: 10px;
}

.addCatPrice select{
  
     margin: 0;
    padding: 10px;
}

.addCatPrice input{
  
    margin: .5rem;
   padding: 10px;
}

.addBtn{
    max-width: 100%;
    border: none;
    padding: 10px;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    transition: .3s;
}

.addBtn:hover{
    opacity: .8;
}


@media (min-width:1000px) {

    .addItemName input, .addItemDesc textarea {
        padding: 4px;
    }

    form.addForm{
        align-self: self-start;
    }


.addItemName{ 
    order: -1;
} 

.addDataBox{
    display: grid;
    /* grid-template-columns: .5fr .5fr; */
    min-width: 250px;
    min-height: 130px;
   /*  margin: 10px; */
    font-size: 10px;

}


.addImgUpload p{
    font-size: 10px;

}

.addCatPrice select, .addCatPrice input{
    font-size: 10px;
    font-weight: 700;
}



}

.allowEdit{
    background-color: rgb(2, 70, 7);
}


.hidden {
    transform: translate(-2000px, 0px);

}

.none {
    display: none;
}
.addItemName{
    overflow: hidden;
}

.addItemName textarea{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
    overflow-y: scroll;
    padding: 0;
}

.cardTitle{
    text-align: center;
    line-height: 2;
}