
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	background: var(--nav-bg);

	top: 0;
	right: 0;
	border-top: 3px var(--goldLight) solid;
	border-bottom: 5px var(--goldLight) solid;
}
.logoBox{
	position: fixed;
	top: 0;
	left: 0;
	height: 87px;
	padding-right: 10vw;
	background-color: var(--black);
	z-index: 1;
	padding: 30px;
	padding-right: 100vw;
	display: flex;
	align-items: center;
	color: var(--gold)
}

.navbarMenu{
	display: flex;
	list-style: none;
	gap: 20px;
	color: var(--nav-color);
	font-size: 18px;
	align-items: center;
	height: var(--nav-height);
}

ul.navbarMenu{
	justify-content: right;
	width: 100%;
}

.navbarRight{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	position: relative;
}

.logOutImg{
	height: 100%;
	text-align: center;
	position: absolute;
	z-index: -1;
	top: 0;
	width: 100px;
	cursor: pointer;
	transition: 0.5s;
}

.logOutImg img{
	width: 60px;
	background-color: var(--goldDarkTransparent);
	border-radius: 50%;
}

.logOutImg.hoverImg{
	top: 80px;
	z-index: 999999;
	cursor: pointer;
}

.navbar{
	z-index: 100;
}

.navbar button{
	background: transparent;
	font-size: 16px;
	color: var(--second-color);
	border: 1px solid var(--second-color);
	padding: 10px 30px;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.3s;
}

.navbar button:hover{
	background-color: var(--second-color);
}

.navbar .active{
	color: var(--nav-bg);
	background: var(--goldLight);
}

.navbar li{
	cursor: pointer;
	transition: 0.3s;
}

.navbar li:hover{
	background-color: var(--brown);
}

ul.navbarMenu a{
	text-align: center;
	min-width: var(--min-nav-link-width);
	padding: var(--nav-border-height) 0;
	border: var(--nav-border-height) solid var(--nav-bg);
	height: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	min-width: var(--min-nav-link-width);
	transition: 0.3s;
	background: var(--nav-bg);
}

ul.navbarMenu a:hover{
	filter: brightness(0.8);
}

.navProfile{
	position: relative;
	background: var(--goldLight);
	height: calc(
		var(--nav-height) - var(--nav-border-height) - var(--nav-border-height)
	);
	width: 100px;
	padding: 10px;
	text-align: center;
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	justify-self: left;
	align-items: center;
	font-size: 12px;
}

.navProfile img{
	width: 40%;
}

.navProfileDropdown{
	position: absolute;
	display: none;
	right: 0;
	z-index: 100;
	transition: 0.5s;
}

.navProfile:hover .navProfileDropdown{
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: var(--brown);
	padding: 12px 25px;
	border-radius: 4px;
	border: 1px solid var(--second-color);
	outline: 2px solid white;
	list-style: none;
	transition: 0.5s;
}

.navProfileDropdown li{
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.navProfileDropdown li:hover{
	color: var(--second-color);
}

.navbarMenu img{
	background: var(--goldLight);
	padding: 3px;
	border-radius: 50%;
	width: 100px;
	cursor: pointer;
	transition: 1s;
}

ul.navbarMenu a{
	margin: 0 var(--nav-border-height);
}

.addBtn{
	text-align: center;
}

.navLogout .VentusDev{
	display: none;
}

.navbarMenu img{
	display: none;
}
@media (min-width: 900px){
	.clientBurger{
		display: none!important;
	}
}
@media (max-width: 1050px){

	.cart{
		top: -17px;
	}
	.logoBox{
		display: none;
	}
	.navbar .logo{
		width: 140px;
	}
	.navbarMenu{
		gap: 20px;
		font-size: 17px;
	}
	.navbarRight{
		gap: 30px;
	}
	.navbarRight button{
		padding: 8px 25px;
	}
}

@media (max-width: 1600px){
	.navbarMenu > *{
		display: none !important;
	}

	.navbarMenu > :nth-child(-n + 7){
		display: flex !important;
	}
}

@media (max-width: 900px){
	.clientBurger{
		display: block;
	}
	.navbarMenu{
		position: fixed;
		right: -1000px;
		background: var(--goldLight);
		display: flex;
		flex-direction: column;
		top: 80px;
		height: 100vh;
		transition: 1s;
		padding: 30px 0;
		justify-content: space-evenly;
	}

	.navbarMenu.activeMenu{
		background: var(--nav-bg);

		right: 0;
	}
	.navbar{
		justify-content: center;
		width: 100%;
		padding: 10px;
	}
	.navbar .active{
		height: auto;
		width: 100%;
	}

	ul.navbarMenu{
		width: 70vw;
		margin: 0;
	}

	ul.navbarMenu a{
		height: auto;
		width: 100%;
	}

	.cart{
		width: 40px;
		height: 40px;
	}

	.logOutImg img{
		display: none;
	}

	.navbarMenu img{
		width: 60px;
		padding: 5px;
		display: flex;
	}

	img.logoMenu{
		background: none;
		border-radius: 0;
		width: 100px;
		display: flex;
	}
	.navLogout .VentusDev{
		display: flex;
	}

	.navLogout{
		height: 100%;
		width: 90%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 20vh;
	}

	.navbarMenu > :nth-child(-n + 100){
		display: flex !important;
	}
}

/*add to cart animation*/


.cart{
	position: fixed;
	top: 0px;
	right: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s ease;
	svg{
		padding: 3px;
		border-radius: 4px;
		background: var(--white);
		transition: 1s ease;
		cursor: pointer;
	}
	&:before{
		content: attr(data-totalitems);
		position: absolute;
		top: 12px;
		right: -12px;
		background: var(--greenLight);
		line-height: 24px;
		padding: 0 4px;
		height: 24px;
		min-width: 24px;
		color: var(--white);
		text-align: center;
		border-radius: 24px;
		z-index: 1;
	}
	&.shake{
		animation: shakeCart 0.4s ease-in-out forwards;
	}
	&.back{
		animation: shakeCart 0.4s ease-in-out forwards;
	}
}

@keyframes xAxis{
	100%{
		transform: translateX(calc(50vw - 105px));
	}
}

@keyframes yAxis{
	100%{
		transform: translateY(calc(-50vh + 75px));
	}
}

@keyframes shakeCart{
	25%{
		transform: translateX(6px);
	}
	50%{
		transform: translateX(-4px);
	}
	75%{
		transform: translateX(2px);
	}
	100%{
		transform: translateX(0);
	}
}


.runAway{
	right: -50px;
}

.cart{
	//border: none !important;
	//background: none !important;
	height: 100px !important;
	//display: block !important;
	margin-top: 100px !important;
	width: 50px !important;
}
